ubuntu_node_count = 2  # 생성할 인스턴스 개수

ubuntu_ami = "ami-063454de5fe8eba79"  # Ubuntu 22.04 LTS
ubuntu_instance_type = "t2.micro"
ubuntu_tags = {
    Name = "ddd"
    Owner = "my-mail@gmail.com"
    Service = "servicecode"
}

ubuntu_key_name = "my-keypair"
ubuntu_private_key_path = "/home/ubuntu/.ssh/my-keypair.pem"
ubuntu_work_cidr_blocks = ["0.0.0.0/32", ]


